<!DOCTYPE html>
<!-- (barnyard, bird, cat, dog, horse, pig, reptile, smallfurry) -->
<div class="row margin-bottom">
  <nav class="twelve columns">
    <ul class="twelve columns u-pull-right">
      <li class="five columns logo"><a href="#home">Pet Finder</a></li>
      <select name="animals" value="choose a pet" ng-model="animal">
        <option value="default"> choose a pet </option>
        <option value="dog"> dog </option>
        <option value="cat"> cat </option>
        <option value="bird"> bird </option>
        <option value="horse"> horse </option>
        <option value="pig"> pig </option>
        <option value="barnyard"> barnyard </option>
        <option value="reptile"> reptile </option>
        <option value="smallfurry"> smallfurry </option>
      </select>
      <button id="go" class="button-primary" ng-click="getAnimal()"><a href="#results">Go</a></button>
      <button id="fav" class="button-primary"><a href="#favorites">See Favorites</a></button>
      <button id="home" class="button-primary"><a href="#home">Home</a></button>

    </ul>
  </nav>
</div>
