body {
  font-family: 'droid serif', 'georgia', serif;
  font-style: italic;
  font-weight: 400;
}
nav {
  background: tomato;
  text-transform: uppercase;
  font-weight: bold;
  height: 10vh;
  max-height: 60px;
  position: fixed;
  padding-top: 0.7%;
}
nav li {
  display: block;
  margin: 0;
  /*padding: 1em .25em;*/
}
nav li a:hover {
  /*padding: 0 5px 3px 0;*/
  /*border-bottom: 3px solid #fff;*/
}
nav ul {
  margin: 0;
  font-size: 110%;
  /*line-height: 17px;*/
  letter-spacing: 1px;
}

.five.columns.logo {
      margin-top: -1.3em;
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all .1s;
  font-style: normal;
  font-size: 156%;
  letter-spacing: 2px;
  margin: 0 2rem;
}
h4 {
  display: inline;
}
main {
  /*height: 88vh;*/
}
a:hover {
  color: #222;
}
.foot {
  margin: 0em .5em;
  color: grey;
  height: 5vh;
}
.logo a {
  padding-left: 2em;
  text-transform: lowercase;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 34px;
  line-height: 2.4em;
}
.frame {
  width: 100%;
  height: 100%;
  z-index: .25;
}
.frame img {
  width: 100%;
  overflow: hidden;
}
.five.columns {
  margin-top: -2em;
  overflow: hidden;
}
.five h2 {
  background: #fff;
  display: inline-block;
  z-index: 1;
  padding-right: .5em;
  padding-left: .5em;
}
h5 {
  font-family: 'georgia', serif;
  font-size: 1.6em;
  letter-spacing: -.02rem;
  font-style: normal;
  padding-top: 61px;
  line-height: 1.4;
}
h5::first-line {
  font-weight: bold;
  letter-spacing: .05rem;
}
hr {
  margin: 0;
  border: 2.5px solid #222;
  margin-top: 6em;
}
.content {
  margin-top: 1em;
  background: #fff;
}
